<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aside</title>
</head>
<body>
<b>DANH MỤC</b>
<ul>
    <li><a href="">Đồng hồ đeo tay</a></li>
    <li><a href="">Máy tính xách tay</a></li>
    <li><a href="">Máy ảnh</a></li>
    <li><a href="">Điện thoại</a></li>
    <li><a href="">Nước hoa</a></li>
    <li><a href="">Nữ trang</a></li>
    <li><a href="">Nón thời trang</a></li>
    <li><a href="">Túi xách du lịch</a></li>
</ul>
</body>
</html>