<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lab5</title>
</head>
<body>
<form th:action="@{/category/index}" method="post" th:object="${item}">
    <input type="text" path="id" placeholder="Category Id?" th:field="*{id}"/>
    <input type="text" path="name" placeholder="Category Name?"  th:field="*{name}"/>
    <hr>
    <button formaction="/category/create">Create</button>
    <button formaction="/category/update">Update</button>
    <a th:href="@{'/category/delete/'+ ${item.id}}">Delete</a>
    <a href="/category/index">Reset</a>
</form>
</body>
</html>